.parent
{
    position:relative ;
}

.coll
{
    height: 150px;
    width: 150px;
    background-color: brown;
    position: absolute;
    left:90%;
    top: 0px;    
}
.para
{
    width: 89%;
}
p{
    text-align: justify;
}

